/* overall styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* body styling */
#body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f0f1f3;
}
/* sidebar styling */
#sidebar {
  width: 5%;
  height: 100%;
  background-color: #041737;
  position: relative;
}
#sideheader {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5%;
  margin-bottom: 5px;
  padding: 5px;
  gap: 10px;
}
#sideheader h2 {
  color: #ea7e54;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding-left: 5px;
}
/* sidebar button */
.button1 {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #4477aa;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 5s all ease;
  margin-right: 5px;
  padding: 5px;
}
.button1 i {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #4477aa;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 5s all ease;
}
.button1:hover {
  background-color: #4477aa;
  border-radius: 50%;
}
#mobileButton {
  display: none;
}
.sidemenus h4 {
  color: #49688d;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
hr {
  color: lavender;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.sidemenus i {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidemenus a {
  width: 80%;
  height: 14.2%;
  font-size: 14px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 3px;
  color: #829ab9;
}
.sidemenus {
  padding-left: 10%;
}

.sidemenus span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.light {
  color: rgb(194, 185, 185);
}
/* maincontent styling */
#maincontent {
  width: 95%;
  height: 98%;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
}
/* showcase styling */
.showcase {
  height: 90%;
  width: 100%;
  display: none;
  margin-top: 5px;
  margin-left: 5px;
}
#contents {
  width: 80%;
  height: 100%;
}

header {
  margin-top: 5px;
  height: 5%;
  width: 100%;
  margin-left: 5px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
select {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#cards-container {
  width: 100%;
  height: 60%;
}
#cards-container2 {
  width: 100%;
  height: 60%;
}
.card-container {
  width: 100%;
  height: 49%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#kpi-cards {
  height: 40%;
}
#charts {
  height: 57%;
}
.cards1 {
  width: 32%;
  height: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.cards2 {
  width: 32%;
  height: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.cards1:hover {
  box-shadow: 0px 0px 5px #041737;
  cursor: pointer;
}
.cards2:hover {
  box-shadow: 0px 0px 5px #041737;
  cursor: pointer;
}
#table {
  width: 100%;
  height: 38%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
#table:hover {
  box-shadow: 0px 0px 5px #041737;
  cursor: pointer;
}

#card p {
  margin-bottom: 10px;
}
.icon2 {
  position: absolute;
  right: 10px;
  margin-top: 20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deecf6;
  color: #3a98b5;
  font-size: 1.6rem;
}

.green span {
  color: green;
}
#light {
  color: rgb(175, 172, 172);
  margin-left: 5%;
}
/* right container */
#Right-container {
  width: 20%;
  height: 99%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
}
#Right-container:hover {
  box-shadow: 0px 0px 5px #041737;
  cursor: pointer;
}
.dot {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #041737;
  margin-right: 5px;
}
.item-body {
  display: flex;
  padding-left: 4px;
  height: 9%;
  width: 100%;
  margin-top: 5px;
}
.heading {
  font-size: 16px;
}
/* right container styling ends */
.Sidebar {
  display: none;
}

/* classlist added in JS */
.active {
  background-color: #4477aa !important;
  color: #fff !important;
  border-radius: 6px !important;
}
.disable {
  background-color: transparent !important;
  color: #7da0cb !important;
}
.showdisplay {
  display: flex !important;
}
.shownone {
  display: none !important;
}
.before {
  display: flex;
  align-items: center !important;
  justify-content: start !important;
  padding-left: 10% !important;
}
::-webkit-scrollbar {
  display: none;
}
.dark {
  background-color: "black" !important;
  color: "#fff" !important;
}
.mobilenav {
  height: "100%" !important;
  transition: "1s ease";
}
.lapnav {
  width: "20%" !important;
  transition: "all 1s ease" !important;
}
.loader {
  width: 30px !important;
  height: 30px !important;
  border: 16px solid #041737 !important;
  border-top: 16px solid #fff !important;
  border-bottom: 16px solid #fff !important;
  border-radius: 50% !important;
  animation: spin 2s linear infinite !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* classlist ends */

/* qlik objects Styling */
.qlikobjects-1 {
  width: 100%;
  height: 70%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kpi-container {
  width: 100%;
  height: 100%;
}
.charts {
  width: 100%;
  height: 100%;
}
.qlikobjects1 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#docbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.docs {
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.card-heading {
  width: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 5px;
  height: 99%;
}
.card-heading:hover {
  box-shadow: 0px 0px 5px #041737;
  cursor: pointer;
}
.QlikObjects {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-heading h3 {
  height: 4%;
}
.docCards {
  width: 100%;
  height: 97%;
  display: flex;
  align-items: center;
}
.qlikobjects2 {
  height: 90%;
  width: 100%;
}
#Qlik-table {
  width: 100%;
  height: 100%;
}
.heading {
  font-size: 16px;
  width: 100%;
  height: 48%;
}
.qlikobjects3 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pie-charts {
  width: 100%;
  height: 100%;
}
.qlikobjects2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* qlik objects styling ends */

/* animation for loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* animation ends */

/* qlik selection styling */
.buttons1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#select {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-top: 5px; */
  flex-wrap: wrap;
}
#selection-container {
  border: 2px dotted gray;
  flex: 1;
  text-align: center;
}
/* qlik selection styling ends */
#barChart {
  display: none;
}
#export {
  background-color: #4477aa;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  gap: 2px;
  border: none;
  outline: none;
}
.barclass {
  width: 100% !important;
  height: 80% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#buttondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#dropdown {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* .qv-panel-current-selections .qv-subtoolbar-button.toggle-button,
.touch-on .qv-panel-current-selections .qv-subtoolbar-button.toggle-button {
  display: none;
} */
#clearselections {
  display: flex;
}
.qv-panel-current-selections
  .buttons
  .qv-subtoolbar-button.qv-subtoolbar-button,
.qv-panel-current-selections
  .buttons-end
  .qv-subtoolbar-button.qv-subtoolbar-button {
  height: 37px;
  line-height: 37px;
  /* display: none; */
}
.sn-kpi-measure-title.sn-kpi-ellips-text {
  color: #4477aa;
}
.sn-kpi-title.sn-kpi-ellips-text {
  color: #4477aa;
}
.searchdiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#flexdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
  /* background-color: #4477aa;
  color: #fff; */
}
.titlebtn2 {
  padding: 5px;
  background-color: #4477aa;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
}
.titlebtn2 select {
  color: #fff;
  /* background-color: #000; */
}
.titlebtn2 option {
  background-color: #041737;
}
/* width 700-1000 */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  #body {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  header {
    margin-left: 0px;
  }
  #header {
    padding-bottom: 5px;
  }
  #sidebar {
    width: 100%;
    height: 5%;
    padding-top: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  #maincontent {
    width: 100%;
    margin-left: 0px;
    padding: 5px;
  }

  #contents {
    width: 100%;
    height: 100%;
  }
  #cards-container {
    width: 100%;
    height: auto;
  }
  .card-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;

    min-height: 200px;
  }
  .cards {
    width: 100%;
    height: 200px;

    margin-top: 5px;
  }

  .sidemenus {
    display: none;
  }
  #mobileButton {
    display: block;
  }
  #btn {
    display: none;
  }
  .sidemenus a {
    width: 35%;
  }

  .showcase {
    height: 100%;
    width: 99%;
    flex-direction: column;
  }
  #contents {
    width: 100%;
    height: 100%;
  }
  #Right-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }
  .pie-charts {
    width: 100%;
    height: 200px;
  }
  .item-body {
    margin-top: 10px;
  }
  hr {
    margin-bottom: 5%;
  }
  .docs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .docCards {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    flex-grow: 1;
  }
  #table {
    height: 250px;
  }
  .heading {
    width: 100%;
    height: 200px;
  }
  .qlikobjects3 {
    height: 90%;
  }
  #kpi-cards {
    height: 40%;
  }
  #charts {
    height: 57%;
  }
  .cards1 {
    width: 32%;
    height: 200px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
  .cards2 {
    width: 32%;
    height: 200px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
}
/* width less than 700 */
@media screen and (max-width: 700px) {
  #body {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  #header {
    padding-bottom: 5px;
  }
  #sidebar {
    width: 100%;
    height: 5%;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  header {
    margin-left: 0px;
  }
  .showcase {
    margin-left: 0px;
  }
  .sidemenus {
    display: none;
  }
  #mobileButton {
    display: block;
  }
  #btn {
    display: none;
  }
  #maincontent {
    width: 99%;
    height: 95%;
    flex-direction: column;
  }
  .showcase {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  #contents {
    width: 100%;
    height: 100%;
  }

  #Right-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .pie-charts {
    width: 100%;
    height: 200px;
  }
  .item-body {
    margin-top: 10px;
  }

  .card-container {
    width: 100%;
    height: 49%;
    flex-direction: column;
  }
  .cards {
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
  }
  .card-container {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
    min-height: 200px;
  }
  .docs {
    width: 100%;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    gap: 0px;
    height: auto;
  }
  .card-heading {
    width: 99%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5px;
    height: 99%;
    margin-bottom: 10px;
  }

  .docCards {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    flex-grow: 1;
  }
  #table {
    height: 200px;
  }
  #header2 {
    gap: 5px;
  }
  #kpi-cards {
    height: 40%;
  }
  #charts {
    height: 57%;
  }
  .cards1 {
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
  .cards2 {
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
}
/* Goo onn broooo */
